body {
    text-align: center;
}

.wrap {
    display: inline-block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    padding-bottom: 20px;
}

.controls {
    flex-grow: 1;
    color: #324851;
    padding-bottom: 10px;

}
.controls span {
    font-weight: 600;
}

.controls input {
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.8);
}

.buttons button {
    margin: 0 5px;
}

.buttons span {
    color: #b7b8b6;
}

#start_over, #new_board {
    padding: 8px 5px;
    color: #324851;
    border: 2px solid #324851;
    box-shadow: none;
    background: transparent;
    font-weight: 600;
    transition: all 0.3s;
}

#start_over:hover, #new_board:hover {
    color: white;
    background: #324851;
}

.puzzle {
    margin: 10px auto;
    position: relative;
    border: 2px solid #34675c;
}

.tile {
    z-index: 1;
    position: absolute;
    display: block;
    border-radius: 4px;
    color: #fff;
    background-color: #34675c;
    font-weight: 600;
    text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
    cursor: pointer;
}

.empty {
    z-index: 0;
    background-color: white;
}

.sliding span {
    transition: all 0.2s;
}

.disabled, .disabled span{
    background-color: gray;
    cursor: not-allowed;
}

